/* 
    Document   : style
    Created on : Mar 13, 2012, 12:40:31 PM
    Author     : Peter
    Description:
        Purpose of the stylesheet follows.
*/

.clock-body{
    background-image: url('');
    background-color: antiquewhite;
    background-repeat: no-repeat;
    width: 165px;
    height: 55px;
    font-family: Tahoma;
    
    margin-top: 5px;
    margin-left: 10px;
}

.clock-content{
    padding: 5px 5px 5px 5px;
    color: #707070;
}

.clock-time{
    font-family: Tahoma;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 3px;
}

.clock-day{
    float: left;
    width: 30px;
    font-size: 0.5em;
    text-align: left;
    margin-left: 12px;
}

.clock-dmy{
    float: right;
    width: 100px;
    font-size: 0.5em;
    text-align: right;
     margin-right: 10px;
}

